<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO3W3dNFs9hHdXSJ05qttEdoKgBcpfaQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>873836407588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michael.ATGuide</string>
	<key>PROJECT_ID</key>
	<string>atguide-a4ed1</string>
	<key>STORAGE_BUCKET</key>
	<string>atguide-a4ed1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873836407588:ios:7622ff0f8571ef171a21b1</string>
</dict>
</plist>